apiVersion: apps/v1
kind: Deployment
metadata:
  name: mail-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mailhog
  template:
    metadata:
      labels:
        app: mailhog
    spec:
      containers:
      - name: mailhog
        image: lnasereddin/mailhog-multi:latest
        ports:
        - containerPort: 1025
          name: smtp
        - containerPort: 8025
          name: http
        imagePullPolicy: Never
  
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
        


