apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
      - name: database
        image: mysql:8.0
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "rootpass"
        - name: MYSQL_DATABASE
          value: "emailsdb"
        - name: MYSQL_USER
          value: "flaskuser"
        - name: MYSQL_PASSWORD
          value: "flaskpass"
        ports:
          - containerPort: 3306
            protocol: TCP
        resources:
          limits:
            cpu: "250m"
            memory: "1Gi"
      #volumes:  
      #- name: mysql-persistent-storage
      #  persistentVolumeClaim:
      #    claimName: mysql-pv-claim
